.backgroundContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backgroundTitle {
    margin-top: 3em;
    font-family: 'Hahmlet', serif;
    font-size: 225%;
    font-weight: bold;
}
