.certMainTitle {
    font-family: 'Hahmlet', serif;
    font-size: 225%;
    font-weight: bold;
    text-align: center;
    margin-top: 3em;
}

.certContainer {
        margin-top: 4em;
        display: grid;
        justify-content: center;
        grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 0.1em;
        margin-left: 10em;
        margin-right: 10em;
}

.individualCertTitles {
    color: darkgreen;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

@media only screen and (max-width: 1350px) {
    .certContainer {
        grid-template-rows: auto;
        grid-template-columns: 25em;
        grid-template-areas:
        "cert1"
        "cert2"
    }
    .cert1 {
        grid-area: cert1;
    }
    .cert2 {
        grid-area: cert2;
        margin-top: 3em;
    }
}

.imgContainer {
    margin-top: 5%;
    text-align: center;
}

.certImg {
    width: 500px;
    height: 650px;
    border-radius: 10%;
}