.saitContainer {
    display: grid;
    grid-template-columns:250px minmax(200px, 550px);
    grid-template-rows: 20em 20em;
    grid-template-areas:
        "logo text";
    margin-top: 3%;
}

@media only screen and (max-width: 650px) {
    .saitContainer {
        grid-template-rows: auto auto;
        grid-template-columns: 25em;
        grid-template-areas:
        "logo"
        "text";
    }
    .saitlogo {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 25%;
    }
}

.saitlogo {
    grid-area: logo;
    width: 200px;
    height: 265px;
    border-radius: 25%;
}

.saitTextContainer {
    grid-area: text;
}

.saitTitle {
    color: darkgreen;
    font-size: 150%;
    font-weight: bold;
}

.gradDate {
    color:midnightblue;
    font-size: 115%;
    font-weight: bold;
}

.saitBackground {
    font-size: 110%;
}