
.msgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../backgrounds/tempbackground.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    min-width: 31em;
}

.welcomeMssg {
    display: flex;
    font-style: oblique;
    text-align: center;
    color: white;
    font-size: 275%;
    font-family: 'Dancing Script', cursive;
}

.name {
    display: flex;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 340%;
    font-family: 'Hahmlet', serif;
}